<div class="container-fluid whiteback">
        <h1 class="text-center">About Us</h1>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 open_sans">
               <h3>
                The Tartan Student Fund is Carnegie Mellon’s student managed long-equity investment fund with 
                approximately $50k under management. We were generously given this allocation by the CMU 
                endowment, and actively work with the university investment office in managing the portfolio.
                <hr />
                The fund’s key mission and objective is to teach undergraduate students the fundamental skills and 
                concepts of growth and value investing. We run a series of educational lectures at the beginning of each 
                semester to educate members on skills such as basic accounting, stock ratio analysis, and equity 
                valuation methodologies. In addition, we provide our members with the opportunity to gain investing 
                experience with real capital, preceded by company research, due diligence, and pitches to the entire 
                fund.
                <hr />
                The TSF is structured into six industry verticals: Consumer Goods, Financial Institutions, Healthcare, 
                Natural Resources/Industrial Goods, Services, and Technology, Media, Telecom. Each industry group is 
                run by a portfolio manager and an assistant portfolio manager, and they work alongside a handful of 
                investment analysts to research and pitch companies in their respective industries. 
                <hr />
                The fund meets as a whole every two weeks to pitch new investment ideas, evaluate our current 
                holdings, and discuss major financial markets news. There is an application process to become a voting 
                member of the fund, but all members of the CMU community are welcome to attend our educational 
                lectures and fund meetings.
               </h3>
            </div>
        </div>
     <footer></footer>
</div>
