<div class="container-fluid whiteback">
    <h1 class="text-center">Application</h1>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 open_sans">
            <br />
            <br />
            <h3> The fall 2015 TSF application will be up soon! </h3>
            <br />
            <h3>How to best prepare over the summer:</h3>
            <ul>
                <li><h3>Keep up to date with financial markets news through outlets such as the WSJ and CNBC</h3></li>
                <li><h3>Brush up on or familiarize yourself with basic accounting and equity valuation methodologies, 
                    focusing on comparable companies analysis and discounted cash flow analysis.</h3></li>
            </ul>
        </div>
    </div>
     <footer></footer>
</div>
