<div class="container-fluid viewOffset">
    <div class="    text-center">
        <h1 >Tartan Student Fund</h1>
        <h3 >Undergraduate Investment Fund at Carnegie Mellon University</h3>
        <br/>
        <br/>
    </div>
    <div class="row" >
        <div class="col-md-10 col-md-offset-1 open_sans">
            <carousel interval="4000">
                <slide>
                    <img ng-src="img/Carousel_Skyline.jpg">
                    <div class="carousel-caption">
                        <h2>Caption 1</h2>
                        <p>Text 1</p>
                    </div>
                </slide>
                <slide>
                    <img ng-src="img/Carousel_CMU_1.jpg">
                    <div class="carousel-caption">
                        <h2>Caption 2</h2>
                        <p>Text 2</p>
                    </div>
                </slide>
                <slide>
                    <img ng-src="img/Carousel_Exchange.jpg">
                    <div class="carousel-caption">
                        <h2>Caption 3</h2>
                        <p>Text 3</p>
                    </div>
            </carousel>
        </div>
    </div>
</div>