<div class="container-fluid viewOffset" ng-controller="membersController">
   
   <div class="row">
        <div class="col-md-9 col-md-offset-1 open_sans">
           <h2 >Members<hr /></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-1 open_sans">
            <tabset>
                <tab ng-repeat="(setName, members) in membersConfig.members" 
                heading="{{setName.split('-')[1]}}">
                    <div class="col-sm-3 open_sans" ng-repeat="x in members track by $index" style="text-align: center;">
                      <br/>
                      <img src="{{x.profilePicURL}}" style="width: 150px; height:120px" ></img><br/>
                      <h4><b>{{x.firstName}} {{x.lastName === "TBD" ? '' : x.lastName}}</b></h4>
                      <i>{{x.position}}</i>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="modal fade" id="memberModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">{{displayedMember.firstName}} {{displayedMember.lastName}}</h4>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="col-md-6">
                     <img src="{{displayedMember.profilePicURL}}" style="width: 180px; height: 140px"></img>
                  </div>
                  <div class="col-md-6">
                     Position: {{displayedMember.position}} <br/>
                     Email: {{displayedMember.email}} <br/>
                     Full-Time: {{displayedMember.fullTime || 'TBA'}} <br/>
                     Internship: {{displayedMember.internship || 'TBA'}} <br/>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
</div>
